# Ignorer le dossier d'environnement virtuel
venv/

# (Optionnel) Ignorer les fichiers Python compilés
__pycache__/
*.pyc

# (Optionnel) Fichiers de config VSCode
.vscode/

# (Optionnel) Fichiers d’environnement
.env
